@font-face {
	font-family: primaryFont;
	src: url('../../static/fonts/Sailec.otf');
}
@font-face {
	font-family: SailecMedium;
	src: url('../../static/fonts/SailecMedium.otf');
}
@font-face {
	font-family: SailecLight;
	src: url('../../static/fonts/SailecLight.otf');
}
@font-face {
	font-family: SailecBold;
	src: url('../../static/fonts/SailecBold.otf');
}

body {
	margin: 0;
	overflow-x: hidden;
	background: rgb(111, 65, 232);
	background: linear-gradient(180deg, rgba(147, 107, 251, 1) 504px, rgba(111, 65, 232, 1) 504px);
}
@media screen and (min-width: 992px) {
	body {
		background: linear-gradient(180deg, rgba(147, 107, 251, 1) 537px, rgba(111, 65, 232, 1) 537px);
	}
}

body > * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

p,
div {
	font-family: primaryFont;
	margin: 0;
}

a:active {
	outline: none;
}
button {
	outline: none;
}

h1,
h3 {
	font-family: SailecMedium;
}

.container {
	/* padding-top: 118px; */
	margin: 0 auto;
	min-height: 70vh;
	overflow: hidden;

}

.lightText {
	font-family: SailecLight;
}

.mediumText {
	font-family: SailecMedium;
}

.regularFont {
	font-family: primaryFont;
}

.boldFont {
	font-family: SailecBold;
}
